* {
  margin: 0px;
  padding: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
  ". screen screen ."
  ". numPad functions .";
}

.numPad {
  grid-area: numPad;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "seven eight nine"
  "four five six"
  "one two three"
  "decimal zero equals";
}

.functions {
  grid-area: functions;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "clear"
  "devide"
  "multiply"
  "minus"
  "plus";
}

.screen {
  grid-area: screen;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  ". nums"
  ". answer";

  background-color: black;
}

#nums {
  grid-area: nums;
  color: white;
  text-align: right;
}

#answer {
  grid-area: answer;
  color: white;
  text-align: right;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}
.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.decimal {
  grid-area: decimal;
}

.zero {
  grid-area: zero;
}

.equals {
  grid-area: equals;
}

.clear {
  grid-area: clear;
}

.devide {
  grid-area: devide;
}

.multiply {
  grid-area: multiply;
}

.minus {
  grid-area: minus;
}

.plus {
  grid-area: plus;
}

.buttons {
  height: 100px;
  border: none;
}

.numbers {
  background-color: white;
}
